<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Yuna the label</title>
    <meta name="description" content="Yuna the Label, the Clothing Store Project by Jean Kang">
    <meta name="author" content="Jean Kang">
    <link rel="icon" type="image/png" href="../images/orange.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/custom.css">
    <link rel="icon" type="image/png" href="../images/favicon.png">
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="index">
              <img src="../images/orange.png" alt="" width=20 style="padding: 0% 0% 30% 0%">
            </a>
          </li>
          <li>
            <a href="index" style="font-size:10pt; color: #ccc;">Home</a>
          </li>
          <li>
            <a href="2021SS" style="font-size:10pt; color: #ccc;">Collection</a>
          </li>
          <li>
            <a href="About" style="font-size:10pt; color: #ccc;">About</a>
          </li>
          <li>
            <a href="contact" style="font-size:10pt; color: #ccc;">Contact</a>
          </li>
        </ul>
      </nav>
    </header>

    <section class="content">
      <h1>Yuna the label</h1>
      <hr>
      <div class="about">
        <img src="../images/jean.jpeg" alt="Jean"><br>
        <hr>
        <p>
          Hi, I'm Jean Kang. Welcome to my website!<br><br><br>

          I put several things that I like on this website..the orange mouse cursor is made with a carved rubber stamp
          and acrylic paint.<br><br><br>

          I used to do branding, and it was so much fun. I planned to build a brand concept, campaigns for seasonal products,
          as well as advertising materials. I also led digital marketing on SNS(Facebook, Twitter).
          I have been learning programming as a hobby since I have always wanted to have my own website in which
          I can sell my product design.<br><br><br>

          Then I realized that I fell in love with creating meaningful and beautiful applications.
          I believe branding, design, and coding are another way of art. I got into school 
          to combine my marketing & art experience with computer programming knowledge.<br><br><br>

          My career goal is to become the best front-end developer, designer, and brand director 
          who can build the whole brand concept, create excellent web / mobile applications, 
          and appropriate marketing contents with brilliant ideas.<br><br><br>

          I wish I can work with good colleagues and build successful teamwork to deliver the best result soon!<br>
        <hr>
        <h4>Interests and hobbies</h4>
        <hr>

        <h6 style="margin-left: -21em;">Sketch - 2D</h6>
        <img src="../images/sketch_koreanTraditionalHouse.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 1 / </span>
          <span class="lower">Korean Traditional House</span>  
        </p>
        <img src="../images/sketch_lobby.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 2 / </span>
          <span class="lower">Lobby</span>  
        </p>
        <img src="../images/sketch_myDreamSpace.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 3 / </span>
          <span class="lower">My Dream Place</span><br> 
        </p>      

        <hr>

        <h6 style="margin-left: -21em;">Design - 3D</h6>
        <img src="../images/3D_myDreamSpace1.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 4 / </span>
          <span class="lower">My Dream Place - space design & furniture prototypes</span><br>
        </p>            
        <img src="../images/3D_myDreamSpace2.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 5 / </span>
          <span class="lower">My Dream Place - space design in 3D</span><br> 
        </p>    
        <img src="../images/3D_davidHockney.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 6 / </span>
          <span class="lower">David Hockey's pool</span><br> 
        </p>    

        <hr>
      
        <h6 style="margin-left: -21em;">Space Design</h6>
        <img src="../images/spaceDesign_before1.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 7 / </span>
          <span class="lower">Renovation Project - living room (before)</span><br> 
        </p> 
        <img src="../images/spaceDesign_before2.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 8 / </span>
          <span class="lower">Renovation Project - kitchen (before)</span><br> 
        </p>       
        <img src="../images/spaceDesign_after1.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 9 / </span>
          <span class="lower">Renovation Project - custom door & glass</span><br> 
        </p>        
        <img src="../images/spaceDesign_after2.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 10 / </span>
          <span class="lower">Renovation Project - living room (after)</span><br> 
        </p>        
        <img src="../images/spaceDesign_after3.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 11 / </span>
          <span class="lower">Renovation Project - kitchen (after)</span><br> 
        </p> 

        <hr>

        <h6 style="margin-left: -22em;">Art & Craft</h6>
        <img src="../images/ceramic_before.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 12 / </span>
          <span class="lower">Ceramic - baking</span><br> 
        </p> 
        <img src="../images/ceramic_after1.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 13 / </span>
          <span class="lower">Ceramic - coloring</span><br> 
        </p> 
        <img src="../images/ceramic_after2.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 14 / </span>
          <span class="lower">Ceramic - jewelries</span><br> 
        </p> 
        <img src="../images/mobiles_before.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 15 / </span>
          <span class="lower">Ceramic - structuring</span><br> 
        </p> 
        <img src="../images/mobiles_after.jpg" alt=""><br>
        <p>
          <span class="caption upper">no 16 / </span>
          <span class="lower">Ceramic, fabric, flower - mobiles</span><br> 
        </p>     

        <hr>

        <h6 style="margin-left: -20em;">Product Design</h6>
        <a href="http://society6.com/orangesage" target="_blank">
          <img src="../images/productDesign_iphoneCase1.jpg" alt=""><br>
        </a>
        <p>
          <span class="caption upper">no 17 / </span>
          <span class="lower">iPhone Case - Spring</span><br> 
        </p>    
        <a href="http://society6.com/orangesage" target="_blank">
          <img src="../images/productDesign_iphoneCase2.jpg" alt=""><br>
        </a>
        <p>
          <span class="caption upper">no 18 / </span>
          <span class="lower">iPhone Case - Summer</span><br> 
        </p>    
        <a href="http://society6.com/orangesage" target="_blank">
          <img src="../images/productDesign_tshirt1.jpg" alt=""><br>
        </a>
        <p>
          <span class="caption upper">no 19 / </span>
          <span class="lower">T-shirt - Spring</span><br> 
        </p>    
        <a href="http://society6.com/orangesage" target="_blank">
          <img src="../images/productDesign_tshirt2.jpg" alt=""><br>
        </a>
        <p>
          <span class="caption upper">no 20 / </span>
          <span class="lower">T-shirt - Rain</span><br> 
        </p>
        <a href="http://society6.com/orangesage" target="_blank">
          <img src="../images/productDesign_tshirt3.jpg" alt=""><br>
        </a>    
          <span class="caption upper">no 21 / </span>
          <span class="lower">T-shirt - Summer</span><br>         
        </p>
        <hr>
      </div>
      <div style="height: 300px"></div>
    </section>

    <footer>
      <nav>
        <div class="footer">
          <ul>
            <li>
              <a href="index">
                <img src="../images/orange.png" alt="" width=20 style="padding: 0% 0% 30% 0%">
              </a>
            </li>
            <li>
              <a href="stockists" style="font-size:10pt; color: #ccc;">Stockists</a>
            </li>
            <li id="subscribe">
              <a href="subscribe" style="font-size:10pt; color: #ccc;">Subscribe</a>
            </li>
          </ul>
        </div>
      </nav>
      <br>
      © 2020 Yuna the Label · Built by JEAN KANG
      <br><br>
    </footer>
    <script src="./js/jquery-2.1.3.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
